<div class="container">
    <h2 class="pt-5 pb-5 mt-5">Log in</h2>
  
  <div class="alert alert-danger" *ngIf="apiError">
  {{apiError}}
  </div>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
      <label for="Email">Email:</label>
      <input type="email" formControlName="email" class="form-control mb-2">
      <div *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || isNotValidForm)" class="alert alert-danger">
        <p *ngIf="loginForm.get('email')?.getError('required')" class="mb-0">Email is reqired</p>
        <p *ngIf="loginForm.get('email')?.getError('email')"  class="mb-0">Email invalid</p>
      </div>
      <label for="Password">Password:</label>
      <input type="password" formControlName="password" class="form-control mb-2">
      <div *ngIf="loginForm.get('password')?.errors &&( loginForm.get('password')?.touched ||isNotValidForm)" class="alert alert-danger">
      <p *ngIf="loginForm.get('password')?.getError('required')" class="mb-0">Password required</p>
      <p *ngIf="loginForm.get('password')?.getError('pattern')" class="mb-0">Pattern is incorect</p>
      </div>
  
  
      <button  class="btn btn-success ms-auto d-block">
        <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
        
        <span  *ngIf="!isLoading">Sign in</span></button>
  
  
    </form>
  </div>
